/*.tableWrapper {*/
/*    min-height: 500px; */
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    flex-direction: column;*/
/*    background-color: white;*/
/*}*/

.allTable {
    width: 99vw;
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin: 10px 0 0 0;
}

.header {
    background-color: #01d5d5;
    text-align: center;
    height: 30px;
    font-size: 18px;
}

.header a {
    text-decoration: none;
    color: black;
}

.spinner {
    border: 10px solid #232222;
    border-top: 10px solid #f6f1f1;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
    margin: 50px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


