.headerStyle {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #01d5d5;
}

.menu {
    margin-right: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    list-style: none;
    font-size: 20px;
}

.text {
    font-size: 32px;
}

.viewItem {
    width: 50px;
    height: 50px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.button:hover{
    transform: scale(1.2);
}

.logo {
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}